---
import { BadTable } from "../../../../components/pages/persona1/persona1table1/BadTable";
import { BadTableCode } from "../../../../components/pages/persona1/persona1table1/BadTableCode";
import { BadTableConclusion } from "../../../../components/pages/persona1/persona1table1/BadTableConclusion";
import { BadTableExp } from "../../../../components/pages/persona1/persona1table1/BadTableExp";
import { DivLink } from "../../../../components/pages/personaHome/DivLink";
import { Header } from "../../../../components/UI/headers/Header";
import { Main } from "../../../../components/UI/main/Main";
import BaseLayout from "../../../../layouts/BaseLayout.astro";

import { personas } from "../../../../data/personas";

const { name, personaHomeUrl, steps } = personas.djebrine;
---

<BaseLayout title={`${steps[1]?.pages[0]?.name} - ${name} - Inotest`}>
  <Header heading={name} textContent={steps[1]?.pages[0]?.name ?? ""} />

  <Main>
    <BadTable />
    <BadTableCode />
    <BadTableExp />
    <BadTableConclusion />
  </Main>

  <DivLink
    labelLink1={`Accueil ${name}`}
    labelLink2="Continuer"
    srLabelLink1={`Revenir à la page d'accueil de ${name}`}
    srLabelLink2="Continuer ce parcous"
    urlLink1={personaHomeUrl}
    urlLink2={steps[1]?.pages[1]?.url ?? ""}
  />
</BaseLayout>
