---
import { A11yTableExp } from "../../../../components/pages/persona1/persona1table2/A11TableExp";
import { A11yTable } from "../../../../components/pages/persona1/persona1table2/A11yTable";
import { A11TableCode } from "../../../../components/pages/persona1/persona1table2/A11yTableCode";
import { DivLink } from "../../../../components/UI/links/DivLink";
import { Header } from "../../../../components/UI/headers/Header";
import { Main } from "../../../../components/UI/main/Main";

import BaseLayout from "../../../../layouts/BaseLayout.astro";

import { personas } from "../../../../data/personas";

const { name, personaHomeUrl, steps } = personas.djebrine;
---

<BaseLayout title={`${steps[1]?.pages[1]?.name} - ${name} - Inotest`}>
  <Header heading={name} textContent={steps[1]?.pages[1]?.name ?? ""} />

  <Main>
    <A11yTable />
    <A11TableCode />
    <A11yTableExp />
  </Main>

  <DivLink
    labelLink1={`Accueil ${name}`}
    labelLink2="Accueil Inotest"
    srLabelLink1={`Revenir à la page d'accueil de ${name}`}
    srLabelLink2="Revenir à la page d'accueil Inotest"
    urlLink1={personaHomeUrl}
    urlLink2="/"
  />
</BaseLayout>
